# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=028ebd88a34e96237ee67460149e7500b4a18d721e4242f1fc7054f5e5d184dfb9dd516fd08a19d9c6d4bd6c9d814215
JWT_EXPIRES_IN=7d

# Gmail (OTP emails & password reset)
GMAIL_USER=alonshir184@gmail.com
GMAIL_APP_PASSWORD=enan fvio uben shdg

# Frontend URL (for OAuth redirects)
FRONTEND_URL=http://localhost:8081
